body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    color: #fff;
    margin: 0;
}

section {
    padding: 2rem;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    display: grid;
    grid-gap: 1rem;
}

label, input, textarea {
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


.profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
